
/*=================================
	Site rules
=================================*/

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body, header, main, footer {
	position: relative;
	top: 0;
	left: 0;
}

body {
	font-family: 'spectral', 'Montserrat', Georgia, sans-serif;
	font-size: 90%;
	font-weight: 400;
	line-height: 2em;
	min-height: 100vh;
	background-color: snow;
	color: black;
}

footer {
	padding-bottom: 3em;
}

body::after {
	background-image: url(../images/noise.jpg);
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 40;
	opacity: 0.08;
	pointer-events: none;
}

*::selection {
	background-color: black;
	color: white;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

.body {
	min-height: 100vh;
	margin-bottom: -5em;
}

.body::after {
	content: "";
	display: block;
	height: 5em;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.logo {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid black;
}

.main-title {
	display: block;
	color: black;
	font-family: 'Ruthie', Courier, monospace;
	font-size: 3rem;
	font-weight: normal;
	line-height: 1em;
	letter-spacing: 0.15em;
	text-align: center;
	padding: 0.2em;
	margin: 1.5em auto 0.5em auto;
}

#copyright {
	clear: both;
	font-size: 0.9em;
	text-align: center;
	margin: 1em auto 0;
	padding: 0.5em;
	border-top: 2px solid black;
}


@media screen and (min-width: 768px) {

	body {
		font-size: 100%
	}

	.logo {
		border-bottom: 0;
	}

	.main-title {
		font-size: 4rem;
		padding: 0.2em;
		margin: 0.5em auto;
	}

	.main-title:hover,
	.main-title:focus {
		filter: opacity(0.8);
	}

	#copyright {
		background-color: rgba(255, 255, 255, 0);
		color: black;
	}

}

@media screen and (min-width: 992px) {

	body {
		font-size: 110%;
	}

}

/*===============================
	Primary Navigation
================================*/

#nav {
	font-family: 'Spectral', Georgia, serif;
    width: 100%;
    background-color: snow;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 1);
}

#nav:after {
	background-image: url(../images/noise.jpg);
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 40;
	opacity: 0.08;
	pointer-events: none;
}

#nav > label {
   	display: inline-block;
   	text-align: right;
   	float: right;
    color: white;
    background: rgba(139, 0, 0, 0.8);
    box-shadow: -1px 0 2px 0 black;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
    border-radius: 0;
}

#navicon {
	display: none;
}

#navlinks a {
	color: black;
	font-size: 1.4em;
	padding-top: 1em;
	padding-bottom: 1em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

#navlinks a:first-child {
	clear: right;
	border-top: 1px solid black;
}

#navlinks a:last-child {
	border-bottom: 0;
}

#navlinks a.active {
	font-style: italic;
	color: darkred;
	font-size: 1.5em;
}

#navlinks {
	display: none;
}

#navicon:checked ~ label {
	color: rgba(255, 255, 255, 0.5);
}

#navicon:active ~ label {
	box-shadow: 0 0 2px 0 black;
}

#navicon:checked ~ #navlinks {
	display: block;
}


@media screen and (min-width: 768px) {

	#nav > label,
	#navicon {
		display: none;
	}

	#nav {
		position: static;
		background-color: rgba(255, 255, 255, 0);
		background-image: none;
		width: 100%;
		font-size: 1em;
		border-top: 2px solid black;
		border-bottom: 1px solid black;
		box-shadow: none;
		z-index: 30;
	}

	#nav:after {
		display: none;
	}

	#navlinks {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#navlinks a,
	#navlinks a:visited {
		display: block;
		height: initial;
		color: black;
		font-size: 1em;
		padding: 20px;
		border-top: 0;
		border-bottom: 0;
		width: 150px;
		transition: font-size 0.25s;
	}

	#navlinks a:first-child {
		border-top: 0
	}

	#navlinks a:hover,
	#navlinks a:focus {
		font-size: 1.2em;
		transition: font-size 0.25s;
	}

	#navlinks a.active {
		font-size: 1.2em;
		font-style: italic;
		color: darkred;
	}

	#navlinks a.active:hover {
		opacity: 0.7;
	}

}



/*=================================
	Language switch
==================================*/

.hswitch {
	height: 2em;
	position: fixed;
	top: 0;
	left: 1.2em;
	color: black;
	padding-top: 0.7em;
	z-index: 55;
}

.vswitch a,
.vswitch a:visited {
	display: inline-block;
	font-size: 1.250rem;
	font-family: 'Spectral', serif;
	color: black;

}

.vswitch a.active {
	color: darkred;
}


@media screen and (min-width: 768px) {

	.hswitch {
		position: absolute;
		right: 0;
		left: initial;
		width: 8rem;
		height: 8rem;
		padding-top: 0;
		border-right: 0;
		z-index: 35;
	}

	.hswitch:hover,
	.hswitch:focus {
		top: 0px;
	}

	.vswitch {
		color: white;
		display: block;
		width: 60%;
		text-align: center;
		background-color: rgba(139, 0, 0, 0.7);
		padding: 0 0.5em;
		margin: 0 auto;
		border-radius: 0 0 .4em .4em;
	}

	.vswitch a,
	.vswitch a:visited {
		color: white;
		font-size: 1rem;
	}

	.vswitch a:hover,
	.vswitch a:focus {
		opacity: 0.6;
	}

	.vswitch a.active {
		color: white;
	}

}

@media screen and (min-width: 992px) {

	.vswitch {
		box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.5);
	}

}

/*================================
	Home Page
=================================*/

.title {
	background: rgba(139, 0, 0, 0);
	color: black;
	font-family: 'Spectral', sans-serif;
	font-weight: 400;
	font-size: 1.424rem;
	margin: 0.2em 0 0 0;
	padding: 0.1em 0.1em 0 0.5em;
	border-left: 0.7em solid rgba(139, 0, 0, 0.8);
}

.author {
	font-family: 'Spectral', serif;
	font-size: 1.125rem;
	font-weight: 300;
	font-style: italic;
	color: darkred;
}

.author:hover {
	opacity: 0.7;
}

.content::first-letter {
	font-size: 200%;
}

.hero-header {
	margin-top: 15px;
	position: relative;
	top: 0;
	left: 0;
}

.cover {
	display: block;
	width: 100%;
}

@media screen and (min-width: 768px) {

	.title {
		font-size: 1.728rem;
		background-color: snow;
		color: black;
	}

	.author {
		font-size: 1.200rem;
		color: darkred;
	}

}

@media screen and (min-width: 992px) {

	.title {
		font-size: 1.953rem;
		padding: 0.2em;
		color: white;
		background-color: rgba(139, 0, 0, 0.3);
		border: 0;
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 4;
		box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
	}

	.author {
		font-size: 1.250rem;
		color: white;
	}

	.hero-header {
		z-index: 25;
		box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
	}

}

/*================================
	Portfolio
=================================*/

.portfolio {
	margin: 1.5em auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio a {
	display: block;
	align-self: center;
	margin: 0 auto;
	z-index: 45;
}

.portfolio img {
	/*position: absolute;
	top: 0;
	left: 0;*/
	max-width: 100%;
	background-color: white;
	margin: 1% auto;
	padding: 1%;
	box-shadow: 1px 1px 2px black;
}

.portfolio a {
	display: none;
}

.portfolio a:first-of-type {
	display: block;
}

@media screen and (min-width: 992px) {

	.portfolio a {
		margin-left: 1em;
		max-width: 40%;
	}

}

/*
.portfolio img:nth-child(n) {
	transform: rotate(3deg);
}

.portfolio img:nth-child(2n + 3) {
	transform: rotate(-1deg);
}
*/
.portfolio img:hover,
.portfolio img:focus {
	box-shadow: 2px 2px 4px black;
}

/*
#overlay {
  	position: fixed;
  	display: none;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0, 0, 0, 0.95);
  	z-index: 60;
  	cursor: pointer;
}

#frame {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	top: 4%;
	bottom: 4%;
	left: 4%;
	right: 4%;
	background-color: transparent;
}

#frame img {
	background-color: white;
	display: block;
	position: static;
	float: none;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 1%;
	margin: 0 auto;
	box-shadow: none;
}
*/

/*================================
	Contact
=================================*/

.form {
	position: relative;
	top: 0;
	left: 0;
	width: 95%;
	font-size: 1rem;
	margin: 3em auto;
	z-index: 25;
}

img.form {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}

.form > div {
	z-index: 26;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 0.5em;
	padding: 1em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

textarea,
input,
label {
	z-index: 27;
	display: block;
	padding: 0.5em;
	border: none;
	-webkit-border-radius: 0.5em;
			border-radius: 0.5em;
}

textarea,
input {
	outline: 1px solid lightgrey;
	opacity: 0.8;
}


input,
label {
	text-align: center;
}

textarea {
	resize: none;
}

textarea:focus,
input:focus {
	outline: 1px solid rgba(0, 0, 0, 0.8);
}

label {
	color: rgba(0, 0, 0, 0.8);
}


input[type="submit"] {
	position: relative;
	top: 1.5em;
	outline: none;
	width: 60%;
	background-color: rgba(139, 0, 0, 0.9);
	padding: 1em;
	border: 1px solid rgba(139, 0, 0, 0);
	margin: 1em auto 0;
	color: white;
	transition: all ease-out 0.05s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: rgba(255, 255, 255, 0.6);
	border-color: rgba(139, 0, 0, 0.9);
	color: darkred;
	cursor: pointer;
	transition: all ease-in 0.1s;
}

@media screen and (min-width: 768px) {

	input[type="submit"] {
		width: 40%;
	}

}

@media screen and (min-width: 992px) {

	.form > div {
		position: absolute;
		top: 1em;
		bottom: 1em;
		right: 1em;
		width: 40%;
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
	}

	form {
		max-height: 100%;
	}

	textarea,
	input,
	label {
		outline: 0;
		z-index: 27;
		display: block;
		padding: 0.5em;
		border: none;
		border-radius: 0.5em;
	}

	input,
	label {
		text-align: center;
	}

	textarea,
	input {
		opacity: 0.8;
	}

	input[type="submit"] {
		position: static;
		padding: 0.5em;
	}

}
