@charset "utf-8";

/*

@title:  ARGENTIQUES STYLES;
@author:  LUCAS MATHIS;
@last-modified:  20-10-2021;

@normalize.css by:  Necolas;
@main-title Typeface by Khurasan;
@glightbox.min.css && glightbox.min.js by:  Biati Digital;

*/

@import url("normalize.css");
@import url("types.css");
@import url("layout.css");
@import url("colors.css");
@import url("glightbox.min.css"); 


/* ======= FILTERS ======= */

body::after,
.nav:after,
.album div::after,
.album img::after,
.about-page footer::after,
.portfolio-page footer::after {
	background-image: url(../images/noise.jpg);
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 40;
	opacity: 0.05;
	pointer-events: none;
}

.about-page footer::after,
.portfolio-page footer::after {
	z-index: 55;
	opacity: 0.03;
}

@media screen and (min-width: 768px) {
	figure > a::after {
		background-image: url(../images/noise.jpg);
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 47;
		opacity: 0.025;
		pointer-events: none;
	}
}