@charset "utf-8";

/*

@title:  ARGENTIQUES STYLES;
@author:  LUCAS MATHIS;
@last-modified:  20-10-2021;

@normalize.css by:  Necolas;
@main-title Typeface by Khurasan;
@glightbox.min.css && glightbox.min.js by:  Biati Digital;

*/

@import url("normalize.css");
@import url("types.css");
@import url("layout.css");
@import url("colors.css");
@import url("filters.css");
@import url("glightbox.min.css");